@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=DM+Sans%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-07pIfSFiAHNv: #2563eb;
  --plasmic-token-brand-brand: var(--token-07pIfSFiAHNv);
  --token-BF0-T9lezqUb: 0.5rem;
  --plasmic-token-size-8: var(--token-BF0-T9lezqUb);
  --token-brxJJTq5b_yD: Inter;
  --plasmic-token-sans-serif: var(--token-brxJJTq5b_yD);
  --token-mz4Mz4DxNNks: 1rem;
  --plasmic-token-font-md: var(--token-mz4Mz4DxNNks);
  --token-XLsJL2EvTJnY: 1.25;
  --plasmic-token-line-height-md: var(--token-XLsJL2EvTJnY);
  --token-lEwtjkwyK-Br: 0.375rem;
  --plasmic-token-size-6: var(--token-lEwtjkwyK-Br);
  --token-c4HhWwZTiacH: #374151;
  --plasmic-token-neutral-neutral: var(--token-c4HhWwZTiacH);
  --token-0VHJ91vtAYVx: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-0VHJ91vtAYVx);
  --token-FAdnz-SMXwZf: #6b7280;
  --plasmic-token-muted-muted: var(--token-FAdnz-SMXwZf);
  --token-0ZlQ_1lxIA9H: 0.25rem;
  --plasmic-token-size-4: var(--token-0ZlQ_1lxIA9H);
  --token-KWZjivg8oX2v: 0.75rem;
  --plasmic-token-font-sm: var(--token-KWZjivg8oX2v);
  --token-F-ZUo4t1fs1e: 1;
  --plasmic-token-line-height-sm: var(--token-F-ZUo4t1fs1e);
  --token-SUTqmpewzP3C: 1.25rem;
  --plasmic-token-font-lg: var(--token-SUTqmpewzP3C);
  --token-iilRLFmWa08Z: 1.4;
  --plasmic-token-line-height-lg: var(--token-iilRLFmWa08Z);
  --token-a-1j3FBcb7mm: 0.125rem;
  --plasmic-token-size-2: var(--token-a-1j3FBcb7mm);
  --token-H7hynlrtwoRd: #16a34a;
  --plasmic-token-success-success: var(--token-H7hynlrtwoRd);
  --token-Pt1oSGlYyfoJ: #facc15;
  --plasmic-token-warning-warning: var(--token-Pt1oSGlYyfoJ);
  --token-ja728farhSWy: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-ja728farhSWy);
  --token-b3Tu6qF_kogB: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-b3Tu6qF_kogB);
  --token-Aq12e9sFdtZl: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-Aq12e9sFdtZl);
  --token-8UqrBD4RyCMX: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-8UqrBD4RyCMX);
  --token-UrFgGq-GlpF8: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-UrFgGq-GlpF8);
  --token-kgtVJunYydn1: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-kgtVJunYydn1);
  --token-Ne5So_HCK7a6: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-Ne5So_HCK7a6);
  --token-uGEN2Weg6MrY: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-uGEN2Weg6MrY);
  --token-gLphPszeaWc4: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-gLphPszeaWc4);
  --token-F6OxGz2Pyqkv: #86efac;
  --plasmic-token-success-success-border: var(--token-F6OxGz2Pyqkv);
  --token-DPQuK-aUoimm: #fde047;
  --plasmic-token-warning-warning-border: var(--token-DPQuK-aUoimm);
  --token-GYFYQVnklodT: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-GYFYQVnklodT);
  --token-dWpE7Z5EnapN: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-dWpE7Z5EnapN);
  --token-DKZwDqumsyYQ: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-DKZwDqumsyYQ);
  --token-ahtSMpIDKSdq: #00000033;
  --plasmic-token-interaction-pressed: var(--token-ahtSMpIDKSdq);
  --token-Dy1SGmHGfnhW: 0.625rem;
  --plasmic-token-size-10: var(--token-Dy1SGmHGfnhW);
  --token-R6OIVDypRzMn: 0.75rem;
  --plasmic-token-size-12: var(--token-R6OIVDypRzMn);
  --token-COxOcB93-b-w: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-COxOcB93-b-w);
  --token-yJgYX6vUVkx_: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-yJgYX6vUVkx_);
  --token-HYAuVCXlIVtY: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-HYAuVCXlIVtY);
  --token-cDKPHeLSFPcM: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-cDKPHeLSFPcM);
  --token-aYsSTFT-DN65: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-aYsSTFT-DN65);
  --token-7nbsHI1c1jhP: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-7nbsHI1c1jhP);
  --token-pwXVeUfynEUU: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-pwXVeUfynEUU);
  --token-Y7ZZ_n_4RD79: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-Y7ZZ_n_4RD79);
  --token-jSncqoQSigrv: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-jSncqoQSigrv);
  --token-OBWjhqxawO4y: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-OBWjhqxawO4y);
  --token-BjqZlOGMbNQD: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-BjqZlOGMbNQD);
  --token--PCmZ5NNNFKH: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token--PCmZ5NNNFKH
  );
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-4gkxPisp4aUu_font-family: "Inter", sans-serif;
  --mixin-4gkxPisp4aUu_font-size: 16px;
  --mixin-4gkxPisp4aUu_font-weight: 400;
  --mixin-4gkxPisp4aUu_font-style: normal;
  --mixin-4gkxPisp4aUu_color: #535353;
  --mixin-4gkxPisp4aUu_text-align: left;
  --mixin-4gkxPisp4aUu_text-transform: none;
  --mixin-4gkxPisp4aUu_line-height: 1.5;
  --mixin-4gkxPisp4aUu_letter-spacing: normal;
  --mixin-4gkxPisp4aUu_white-space: pre-wrap;
  --mixin-4gkxPisp4aUu_user-select: text;
  --mixin-4gkxPisp4aUu_text-decoration-line: none;
  --mixin-4gkxPisp4aUu_text-overflow: clip;
  --mixin-itUL0YhSgttr_color: #000000;
  --mixin-itUL0YhSgttr_font-weight: 700;
  --mixin-itUL0YhSgttr_font-size: 64px;
  --mixin-itUL0YhSgttr_line-height: 1;
  --mixin-itUL0YhSgttr_letter-spacing: -1px;
  --mixin-itUL0YhSgttr_white-space: pre-wrap;
  --mixin-zJFTP7QhQ4w1_color: #000000;
  --mixin-zJFTP7QhQ4w1_font-size: 48px;
  --mixin-zJFTP7QhQ4w1_font-weight: 700;
  --mixin-zJFTP7QhQ4w1_letter-spacing: -0.5px;
  --mixin-zJFTP7QhQ4w1_line-height: 1.1;
  --mixin-zJFTP7QhQ4w1_white-space: pre-wrap;
  --mixin-6WOZw0J4XFGu_color: #0070f3;
  --mixin-6WOZw0J4XFGu_white-space: pre-wrap;
  --mixin-cvGpAVCEOA74_color: #000000;
  --mixin-cvGpAVCEOA74_font-size: 32px;
  --mixin-cvGpAVCEOA74_font-weight: 600;
  --mixin-cvGpAVCEOA74_line-height: 1.2;
  --mixin-cvGpAVCEOA74_white-space: pre-wrap;
  --mixin-Yk4ZTKV8DYSF_color: #000000;
  --mixin-Yk4ZTKV8DYSF_font-size: 24px;
  --mixin-Yk4ZTKV8DYSF_font-weight: 600;
  --mixin-Yk4ZTKV8DYSF_line-height: 1.3;
  --mixin-Yk4ZTKV8DYSF_white-space: pre-wrap;
  --mixin-XDt3r2Uh0ZZk_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-XDt3r2Uh0ZZk_border-bottom-color: #dddddd;
  --mixin-XDt3r2Uh0ZZk_border-bottom-style: solid;
  --mixin-XDt3r2Uh0ZZk_border-bottom-width: 1px;
  --mixin-XDt3r2Uh0ZZk_border-left-color: #dddddd;
  --mixin-XDt3r2Uh0ZZk_border-left-style: solid;
  --mixin-XDt3r2Uh0ZZk_border-left-width: 1px;
  --mixin-XDt3r2Uh0ZZk_border-right-color: #dddddd;
  --mixin-XDt3r2Uh0ZZk_border-right-style: solid;
  --mixin-XDt3r2Uh0ZZk_border-right-width: 1px;
  --mixin-XDt3r2Uh0ZZk_border-top-color: #dddddd;
  --mixin-XDt3r2Uh0ZZk_border-top-style: solid;
  --mixin-XDt3r2Uh0ZZk_border-top-width: 1px;
  --mixin-XDt3r2Uh0ZZk_border-bottom-left-radius: 3px;
  --mixin-XDt3r2Uh0ZZk_border-bottom-right-radius: 3px;
  --mixin-XDt3r2Uh0ZZk_border-top-left-radius: 3px;
  --mixin-XDt3r2Uh0ZZk_border-top-right-radius: 3px;
  --mixin-XDt3r2Uh0ZZk_font-family: "Inconsolata";
  --mixin-XDt3r2Uh0ZZk_padding-bottom: 1px;
  --mixin-XDt3r2Uh0ZZk_padding-left: 4px;
  --mixin-XDt3r2Uh0ZZk_padding-right: 4px;
  --mixin-XDt3r2Uh0ZZk_padding-top: 1px;
  --mixin-XDt3r2Uh0ZZk_white-space: pre-wrap;
  --mixin-vvB8T5_0NGwl_border-left-color: #dddddd;
  --mixin-vvB8T5_0NGwl_border-left-style: solid;
  --mixin-vvB8T5_0NGwl_border-left-width: 3px;
  --mixin-vvB8T5_0NGwl_color: #888888;
  --mixin-vvB8T5_0NGwl_padding-left: 10px;
  --mixin-vvB8T5_0NGwl_white-space: pre-wrap;
  --mixin-TKcJWKmk8GxB_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-TKcJWKmk8GxB_border-bottom-color: #dddddd;
  --mixin-TKcJWKmk8GxB_border-bottom-style: solid;
  --mixin-TKcJWKmk8GxB_border-bottom-width: 1px;
  --mixin-TKcJWKmk8GxB_border-left-color: #dddddd;
  --mixin-TKcJWKmk8GxB_border-left-style: solid;
  --mixin-TKcJWKmk8GxB_border-left-width: 1px;
  --mixin-TKcJWKmk8GxB_border-right-color: #dddddd;
  --mixin-TKcJWKmk8GxB_border-right-style: solid;
  --mixin-TKcJWKmk8GxB_border-right-width: 1px;
  --mixin-TKcJWKmk8GxB_border-top-color: #dddddd;
  --mixin-TKcJWKmk8GxB_border-top-style: solid;
  --mixin-TKcJWKmk8GxB_border-top-width: 1px;
  --mixin-TKcJWKmk8GxB_border-bottom-left-radius: 3px;
  --mixin-TKcJWKmk8GxB_border-bottom-right-radius: 3px;
  --mixin-TKcJWKmk8GxB_border-top-left-radius: 3px;
  --mixin-TKcJWKmk8GxB_border-top-right-radius: 3px;
  --mixin-TKcJWKmk8GxB_font-family: "Inconsolata";
  --mixin-TKcJWKmk8GxB_padding-bottom: 3px;
  --mixin-TKcJWKmk8GxB_padding-left: 6px;
  --mixin-TKcJWKmk8GxB_padding-right: 6px;
  --mixin-TKcJWKmk8GxB_padding-top: 3px;
  --mixin-TKcJWKmk8GxB_white-space: pre-wrap;
  --mixin-NNNk9ZTzjDt3_display: flex;
  --mixin-NNNk9ZTzjDt3_flex-direction: column;
  --mixin-NNNk9ZTzjDt3_align-items: stretch;
  --mixin-NNNk9ZTzjDt3_justify-content: flex-start;
  --mixin-NNNk9ZTzjDt3_list-style-position: outside;
  --mixin-NNNk9ZTzjDt3_padding-left: 40px;
  --mixin-NNNk9ZTzjDt3_position: relative;
  --mixin-NNNk9ZTzjDt3_list-style-type: disc;
  --mixin-NNNk9ZTzjDt3_white-space: pre-wrap;
  --mixin-SZyyEEMtGOAs_display: flex;
  --mixin-SZyyEEMtGOAs_flex-direction: column;
  --mixin-SZyyEEMtGOAs_align-items: stretch;
  --mixin-SZyyEEMtGOAs_justify-content: flex-start;
  --mixin-SZyyEEMtGOAs_list-style-position: outside;
  --mixin-SZyyEEMtGOAs_padding-left: 40px;
  --mixin-SZyyEEMtGOAs_position: relative;
  --mixin-SZyyEEMtGOAs_list-style-type: decimal;
  --mixin-SZyyEEMtGOAs_white-space: pre-wrap;
  --mixin-Vwi21z2CZklx_color: #000000;
  --mixin-Vwi21z2CZklx_font-size: 20px;
  --mixin-Vwi21z2CZklx_font-weight: 600;
  --mixin-Vwi21z2CZklx_line-height: 1.5;
  --mixin-Vwi21z2CZklx_white-space: pre-wrap;
  --mixin-FWm6kef2rfLO_color: #000000;
  --mixin-FWm6kef2rfLO_font-size: 16px;
  --mixin-FWm6kef2rfLO_font-weight: 600;
  --mixin-FWm6kef2rfLO_line-height: 1.5;
  --mixin-FWm6kef2rfLO_white-space: pre-wrap;
  --mixin-aY2b4DJVRSX3_color: #3291ff;
  --mixin-aY2b4DJVRSX3_white-space: pre-wrap;
  --mixin-iR-bWLSsMuQ8_white-space: pre-wrap;
  --mixin-OUWrJsK6e9UT_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-4gkxPisp4aUu_font-family);
  font-size: var(--mixin-4gkxPisp4aUu_font-size);
  font-weight: var(--mixin-4gkxPisp4aUu_font-weight);
  font-style: var(--mixin-4gkxPisp4aUu_font-style);
  color: var(--mixin-4gkxPisp4aUu_color);
  text-align: var(--mixin-4gkxPisp4aUu_text-align);
  text-transform: var(--mixin-4gkxPisp4aUu_text-transform);
  line-height: var(--mixin-4gkxPisp4aUu_line-height);
  letter-spacing: var(--mixin-4gkxPisp4aUu_letter-spacing);
  white-space: var(--mixin-4gkxPisp4aUu_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-itUL0YhSgttr_color);
  font-weight: var(--mixin-itUL0YhSgttr_font-weight);
  font-size: var(--mixin-itUL0YhSgttr_font-size);
  line-height: var(--mixin-itUL0YhSgttr_line-height);
  letter-spacing: var(--mixin-itUL0YhSgttr_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-zJFTP7QhQ4w1_color);
  font-size: var(--mixin-zJFTP7QhQ4w1_font-size);
  font-weight: var(--mixin-zJFTP7QhQ4w1_font-weight);
  letter-spacing: var(--mixin-zJFTP7QhQ4w1_letter-spacing);
  line-height: var(--mixin-zJFTP7QhQ4w1_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-6WOZw0J4XFGu_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-cvGpAVCEOA74_color);
  font-size: var(--mixin-cvGpAVCEOA74_font-size);
  font-weight: var(--mixin-cvGpAVCEOA74_font-weight);
  line-height: var(--mixin-cvGpAVCEOA74_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-Yk4ZTKV8DYSF_color);
  font-size: var(--mixin-Yk4ZTKV8DYSF_font-size);
  font-weight: var(--mixin-Yk4ZTKV8DYSF_font-weight);
  line-height: var(--mixin-Yk4ZTKV8DYSF_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-XDt3r2Uh0ZZk_font-family);
  border-radius: var(--mixin-XDt3r2Uh0ZZk_border-top-left-radius)
    var(--mixin-XDt3r2Uh0ZZk_border-top-right-radius)
    var(--mixin-XDt3r2Uh0ZZk_border-bottom-right-radius)
    var(--mixin-XDt3r2Uh0ZZk_border-bottom-left-radius);
  padding: var(--mixin-XDt3r2Uh0ZZk_padding-top)
    var(--mixin-XDt3r2Uh0ZZk_padding-right)
    var(--mixin-XDt3r2Uh0ZZk_padding-bottom)
    var(--mixin-XDt3r2Uh0ZZk_padding-left);
  border-top: var(--mixin-XDt3r2Uh0ZZk_border-top-width)
    var(--mixin-XDt3r2Uh0ZZk_border-top-style)
    var(--mixin-XDt3r2Uh0ZZk_border-top-color);
  border-right: var(--mixin-XDt3r2Uh0ZZk_border-right-width)
    var(--mixin-XDt3r2Uh0ZZk_border-right-style)
    var(--mixin-XDt3r2Uh0ZZk_border-right-color);
  border-bottom: var(--mixin-XDt3r2Uh0ZZk_border-bottom-width)
    var(--mixin-XDt3r2Uh0ZZk_border-bottom-style)
    var(--mixin-XDt3r2Uh0ZZk_border-bottom-color);
  border-left: var(--mixin-XDt3r2Uh0ZZk_border-left-width)
    var(--mixin-XDt3r2Uh0ZZk_border-left-style)
    var(--mixin-XDt3r2Uh0ZZk_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-vvB8T5_0NGwl_color);
  padding-left: var(--mixin-vvB8T5_0NGwl_padding-left);
  border-left: var(--mixin-vvB8T5_0NGwl_border-left-width)
    var(--mixin-vvB8T5_0NGwl_border-left-style)
    var(--mixin-vvB8T5_0NGwl_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-TKcJWKmk8GxB_font-family);
  border-radius: var(--mixin-TKcJWKmk8GxB_border-top-left-radius)
    var(--mixin-TKcJWKmk8GxB_border-top-right-radius)
    var(--mixin-TKcJWKmk8GxB_border-bottom-right-radius)
    var(--mixin-TKcJWKmk8GxB_border-bottom-left-radius);
  padding: var(--mixin-TKcJWKmk8GxB_padding-top)
    var(--mixin-TKcJWKmk8GxB_padding-right)
    var(--mixin-TKcJWKmk8GxB_padding-bottom)
    var(--mixin-TKcJWKmk8GxB_padding-left);
  border-top: var(--mixin-TKcJWKmk8GxB_border-top-width)
    var(--mixin-TKcJWKmk8GxB_border-top-style)
    var(--mixin-TKcJWKmk8GxB_border-top-color);
  border-right: var(--mixin-TKcJWKmk8GxB_border-right-width)
    var(--mixin-TKcJWKmk8GxB_border-right-style)
    var(--mixin-TKcJWKmk8GxB_border-right-color);
  border-bottom: var(--mixin-TKcJWKmk8GxB_border-bottom-width)
    var(--mixin-TKcJWKmk8GxB_border-bottom-style)
    var(--mixin-TKcJWKmk8GxB_border-bottom-color);
  border-left: var(--mixin-TKcJWKmk8GxB_border-left-width)
    var(--mixin-TKcJWKmk8GxB_border-left-style)
    var(--mixin-TKcJWKmk8GxB_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-NNNk9ZTzjDt3_display);
  flex-direction: var(--mixin-NNNk9ZTzjDt3_flex-direction);
  align-items: var(--mixin-NNNk9ZTzjDt3_align-items);
  justify-content: var(--mixin-NNNk9ZTzjDt3_justify-content);
  list-style-position: var(--mixin-NNNk9ZTzjDt3_list-style-position);
  padding-left: var(--mixin-NNNk9ZTzjDt3_padding-left);
  position: var(--mixin-NNNk9ZTzjDt3_position);
  list-style-type: var(--mixin-NNNk9ZTzjDt3_list-style-type);
  column-gap: var(--mixin-NNNk9ZTzjDt3_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-SZyyEEMtGOAs_display);
  flex-direction: var(--mixin-SZyyEEMtGOAs_flex-direction);
  align-items: var(--mixin-SZyyEEMtGOAs_align-items);
  justify-content: var(--mixin-SZyyEEMtGOAs_justify-content);
  list-style-position: var(--mixin-SZyyEEMtGOAs_list-style-position);
  padding-left: var(--mixin-SZyyEEMtGOAs_padding-left);
  position: var(--mixin-SZyyEEMtGOAs_position);
  list-style-type: var(--mixin-SZyyEEMtGOAs_list-style-type);
  column-gap: var(--mixin-SZyyEEMtGOAs_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-Vwi21z2CZklx_color);
  font-size: var(--mixin-Vwi21z2CZklx_font-size);
  font-weight: var(--mixin-Vwi21z2CZklx_font-weight);
  line-height: var(--mixin-Vwi21z2CZklx_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-FWm6kef2rfLO_color);
  font-size: var(--mixin-FWm6kef2rfLO_font-size);
  font-weight: var(--mixin-FWm6kef2rfLO_font-weight);
  line-height: var(--mixin-FWm6kef2rfLO_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-aY2b4DJVRSX3_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
